<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>新华网</string>
		<key>title</key>
		<string>60件海昏侯墓出土文物亮相故里山东巨野</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7312640.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>人民日报</string>
		<key>title</key>
		<string>人民微评：罚得倾家荡产 赔得招架不住</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7333189.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>央视</string>
		<key>title</key>
		<string>人民海军70华诞：海上阅兵“亮点众多 精彩纷呈”</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7320151.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>参考消息</string>
		<key>title</key>
		<string>人民海军70年 我们的征途是星辰大海</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4135006.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>北京青年报</string>
		<key>title</key>
		<string>全国唯一女省级监委主任再提肃清孙薄王</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4144517.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>观察者网</string>
		<key>title</key>
		<string>农业农村部副部长:要大力培育土地经营权流转市场</string>
		<key>url</key>
		<string>https://news.sina.com.cn/o/2019-04-20/doc-ihvhiqax4129566.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>上观</string>
		<key>title</key>
		<string>刘国梁首度回应卸任总教练风波:留下来只能做组长</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4128538.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>新京报</string>
		<key>title</key>
		<string>卫健局干部与领导喝酒死亡？官方:涉事者带回调查</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7318978.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>新华网</string>
		<key>title</key>
		<string>参加多国海军活动的外国海军代表团陆续抵达青岛</string>
		<key>url</key>
		<string>https://news.sina.com.cn/o/2019-04-20/doc-ihvhiqax4131638.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>北京青年报</string>
		<key>title</key>
		<string>围棋活动家应明皓逝世 两天前还出席倡棋杯开幕式</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4129616.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>澎湃新闻</string>
		<key>title</key>
		<string>国家核安全局：阳江核电厂6号机组准备工作可接受</string>
		<key>url</key>
		<string>https://news.sina.com.cn/o/2019-04-20/doc-ihvhiqax4136863.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>新京报</string>
		<key>title</key>
		<string>国际锐评：世贸组织对中国的裁决 非哪一方的胜利</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7317840.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>参考消息</string>
		<key>title</key>
		<string>日本网友沸腾：世界美食 果然还是中国料理</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4135023.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>新华网</string>
		<key>title</key>
		<string>昆明龙池山山火明火已扑灭 过火面积约19公顷</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7320877.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>澎湃新闻</string>
		<key>title</key>
		<string>河南鹤壁市公安局一干部被查 曾参加扫黑除恶工作</string>
		<key>url</key>
		<string>https://news.sina.com.cn/o/2019-04-20/doc-ihvhiqax4126672.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>澎湃新闻</string>
		<key>title</key>
		<string>海军发布《庆祝人民海军成立70周年》外宣纪念封</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7316997.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>北京青年报</string>
		<key>title</key>
		<string>海军发言人任命有个特殊“传统”</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiqax4126142.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>北京青年报</string>
		<key>title</key>
		<string>王永康调任黑龙江分工明确后 又获一新头衔</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7333024.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>北京青年报</string>
		<key>title</key>
		<string>阿富汗通讯部门遭袭击致中国公民被困 目前已脱险</string>
		<key>url</key>
		<string>https://news.sina.com.cn/c/2019-04-20/doc-ihvhiewr7332049.shtml</string>
	</dict>
	<dict>
		<key>media</key>
		<string>2019-04-20</string>
		<key>time</key>
		<string>澎湃新闻</string>
		<key>title</key>
		<string>黑龙江商务厅整改文山会海：活动报告等不超过6页</string>
		<key>url</key>
		<string>https://news.sina.com.cn/o/2019-04-20/doc-ihvhiqax4135948.shtml</string>
	</dict>
</array>
</plist>
