<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>city</key>
		<string>天津</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-天津星空科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>售后工程师（检漏事业部）</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003270000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=1</string>
		<key>work</key>
		<string>轻松无压力后勤人员4000+双休</string>
	</dict>
	<dict>
		<key>city</key>
		<string>安徽</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-安徽皖仪科技股份有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>案场销售-万科住宅楼盘</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003280000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=3</string>
		<key>work</key>
		<string>大数据开发</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-杭州世联卓群房地产咨询有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>市场推广（安徽合肥）</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003295000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=5</string>
		<key>work</key>
		<string>高提成住宅楼盘置业顾问</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-埃森哲(中国)有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>C++软件开发工程师-软件一部</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003313000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=7</string>
		<key>work</key>
		<string>[ATG]Solution Sales</string>
	</dict>
	<dict>
		<key>city</key>
		<string>北京</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-励牛课思(北京)信息技术有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>案场销售-恒大水晶城</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003322000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=9</string>
		<key>work</key>
		<string>大数据实习生</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-合信置业集团有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>工程造价经理</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003326000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=11</string>
		<key>work</key>
		<string>土建预算员</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-合信置业集团有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>教务专员</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003335000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=13</string>
		<key>work</key>
		<string>房地产置业顾问</string>
	</dict>
	<dict>
		<key>city</key>
		<string>西安</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-陕西文都教育科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>课程顾问课程销售</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003347000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=15</string>
		<key>work</key>
		<string>教质/教务专员</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京零点陆壹捌科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>学科教研员</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003351000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=17</string>
		<key>work</key>
		<string>电销精英/销售代表</string>
	</dict>
	<dict>
		<key>city</key>
		<string>北京</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京零点陆壹捌科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>教育产品市场经理</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003354000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=19</string>
		<key>work</key>
		<string>销售代表</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京零点陆壹捌科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>主管造型师(内饰创意）(J12088)</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003365000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=21</string>
		<key>work</key>
		<string>课程咨询顾问/课程销售</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京零点陆壹捌科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>平面设计师(J12208)</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003377000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=23</string>
		<key>work</key>
		<string>国际早教中心课程顾问</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-安徽网新科技有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>分公司城市督导</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003391000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=25</string>
		<key>work</key>
		<string>本地服务营销推广/票务推广/学生</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京易盟天地信息技术有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>渠道经理</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003406000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=27</string>
		<key>work</key>
		<string>人事专员</string>
	</dict>
	<dict>
		<key>city</key>
		<string>全国</string>
		<key>company</key>
		<string>陕西省退役军人事务厅-北京易盟天地信息技术有限公司</string>
		<key>recruits_number</key>
		<string>若干</string>
		<key>request</key>
		<string>渠道主管</string>
		<key>time</key>
		<string>昨天</string>
		<key>url</key>
		<string>xiaoyuan.zhaopin.com/job/CC000930414J90003409000?traceId=s08b5eca3e0f58e2c58f00b204e9800998&amp;amp;scenario=1&amp;amp;jobSourceType=0&amp;amp;pageIndex=1&amp;amp;position=29</string>
		<key>work</key>
		<string>淘宝运营专员</string>
	</dict>
</array>
</plist>
