<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>company</key>
		<string>两江新区江涛水族馆</string>
		<key>location</key>
		<string>两江新区泰山大道中段熊婆婆的花园</string>
		<key>money</key>
		<string>100</string>
		<key>position</key>
		<string>店内导购</string>
		<key>time</key>
		<string>周末早九晚六</string>
	</dict>
	<dict>
		<key>company</key>
		<string>鸿联九五信息产业有限公司</string>
		<key>location</key>
		<string>南坪五小区昌龙城市花园</string>
		<key>money</key>
		<string>70</string>
		<key>position</key>
		<string>派发传单</string>
		<key>time</key>
		<string>每天早8点，发完结束</string>
	</dict>
	<dict>
		<key>company</key>
		<string>缤纷工艺品</string>
		<key>location</key>
		<string>九龙坡数码广场一城精英国际37楼22室</string>
		<key>money</key>
		<string>130</string>
		<key>position</key>
		<string>商品整理</string>
		<key>time</key>
		<string>全天</string>
	</dict>
	<dict>
		<key>company</key>
		<string>花谢花开鲜花店</string>
		<key>location</key>
		<string>大坪渝中龙湖时代天街</string>
		<key>money</key>
		<string>130</string>
		<key>position</key>
		<string>信息资料员</string>
		<key>time</key>
		<string>9点-18点</string>
	</dict>
	<dict>
		<key>company</key>
		<string>重庆淼空网络科技有限公司</string>
		<key>location</key>
		<string>大坪渝中龙湖时代天街</string>
		<key>money</key>
		<string>150</string>
		<key>position</key>
		<string>玩偶派发传单</string>
		<key>time</key>
		<string>周末</string>
	</dict>
	<dict>
		<key>company</key>
		<string>两江新区江涛水族馆</string>
		<key>location</key>
		<string>两江新区泰山大道中段熊婆婆的花园</string>
		<key>money</key>
		<string>100</string>
		<key>position</key>
		<string>店内导购</string>
		<key>time</key>
		<string>周末早九晚六</string>
	</dict>
	<dict>
		<key>company</key>
		<string>鸿联九五信息产业有限公司</string>
		<key>location</key>
		<string>南坪五小区昌龙城市花园</string>
		<key>money</key>
		<string>70</string>
		<key>position</key>
		<string>派发传单</string>
		<key>time</key>
		<string>每天早8点，发完结束</string>
	</dict>
	<dict>
		<key>company</key>
		<string>缤纷工艺品</string>
		<key>location</key>
		<string>九龙坡数码广场一城精英国际37楼22室</string>
		<key>money</key>
		<string>130</string>
		<key>position</key>
		<string>商品整理</string>
		<key>time</key>
		<string>全天</string>
	</dict>
	<dict>
		<key>company</key>
		<string>鸿联九五信息产业有限公司</string>
		<key>location</key>
		<string>南坪五小区昌龙城市花园</string>
		<key>money</key>
		<string>70</string>
		<key>position</key>
		<string>派发传单</string>
		<key>time</key>
		<string>每天早8点，发完结束</string>
	</dict>
	<dict>
		<key>company</key>
		<string>缤纷工艺品</string>
		<key>location</key>
		<string>九龙坡数码广场一城精英国际37楼22室</string>
		<key>money</key>
		<string>130</string>
		<key>position</key>
		<string>商品整理</string>
		<key>time</key>
		<string>全天</string>
	</dict>
	<dict>
		<key>company</key>
		<string>花谢花开鲜花店</string>
		<key>location</key>
		<string>大坪渝中龙湖时代天街</string>
		<key>money</key>
		<string>130</string>
		<key>position</key>
		<string>信息资料员</string>
		<key>time</key>
		<string>9点-18点</string>
	</dict>
</array>
</plist>
